{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Mi Aplicación de Tareas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="{% url 'tasks:index' %}">Lista de Tareas</a></li> 
        {% if user.is_authenticated %}
          <li><a href="{% url 'tasks:logout' %}">Cerrar Sesión</a></li>
          <li><a href="{% url 'tasks:account_details' %}">Información del Miembro</a></li>
        {% else %}
          <li><a href="{% url 'tasks:login' %}">Iniciar Sesión</a></li>
          <li><a href="{% url 'tasks:register' %}">Registrarse</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>
